body
{
    background-color: #f7f7f7;
}

#RegisterFormLayout {
    background-color: #fff;
    padding: 40px 50px;
    margin-top : 0px;
    margin-left: 0px;

}

#RegisterFormLayout #Registerform
{
    padding-top: 70px;
    padding-left: 40px;
}

#RegisterFormLayout #Registerform h3
{
    padding-left: 15px;
    margin: 0;

    margin-top:1px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    #RegisterFormLayout #Registerform input[type="text"],
    #RegisterFormLayout #Registerform .input-group-addon,
    #RegisterFormLayout #Registerform #dropdown,
    #RegisterFormLayout #Registerform input[type="date"]

    {
        background: none;
        border:none;
        outline:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }

    #RegisterFormLayout #Registerform .input-group-addon 
    {
    padding:0;
    padding-left:5px;
    }

    #RegisterFormLayout #Registerform input[type="submit"]
    {
        background-color:#273c75;
        border-radius:50px;
        height: 40px;
        width: 100px;
    }

        #RegisterFormLayout #Registerform input[type="submit"]:hover 
        {
            background-color:#192a56;
        }
    #RegisterFormLayout
    {
        border-left: 1px solid #ddd;
    }


 